@tailwind components;

@layer components {
	.navbar-button {
		@apply mx-4 text-2xl text-white;
	}
	.navbar-button:hover {
		color: #c9e7ff;
	}
	.form-button {
		@apply py-1 px-4 mx-2 w-52 text-white text-xl rounded-3xl border border-white;
		background-color: #197aca;
	}
	.form-button:hover {
		border-width: 2px;
		background-color: #156fb9;
	}
	.form-optionally-button {
		@apply py-1 px-4 mx-2 w-52 text-xl rounded-3xl bg-white border hover:border-2;
		border-color: #197aca;
		color: #197aca;
	}
}
