@tailwind components;

@layer components {
	.backdrop {
		@apply fixed w-screen h-screen bg-black/50 top-0 bottom-0 left-0 right-0;
		z-index: 10000;
	}
	.window {
		@apply fixed flex flex-col bg-white left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 px-8 py-5 rounded-xl shadow-white shadow-sm min-w-min min-h-max;
		z-index: 10000;
	}
	.window-body {
		display: grid;
		row-gap: 10px;
		column-gap: 0px;
	}
	.buttons {
		@apply flex flex-row h-11 mt-5;
	}

	.central-buttons {
		@apply buttons justify-center;
	}
	.left-buttons {
		@apply buttons justify-start;
	}
	.right-buttons {
		@apply buttons justify-end;
	}

	.confirmation-window {
		@apply window;
		width: 34rem;
	}
	.info-window {
		@apply window;
		width: 34rem;
	}
	.change-window {
		@apply window;
		width: 44rem;
	}
	.add-window {
		@apply window;
		width: 38rem;
	}
	.filter-window {
		@apply window;
		width: 44rem;
	}
	.authorization-window {
		@apply window;
		width: 44rem;
	}
}
