@tailwind components;

@layer components {
	.icon-container {
		@apply flex items-center rounded-full;
	}
	.icon {
		@apply flex items-center rounded-full m-auto;
	}

	.confirm-icon {
		@apply icon border; 
		border-color: #197aca;
		background-color: #197aca;
	}
	.confirm-icon:hover {
		@apply border-white; 
		background-color: #156fb9;
	}
	.reject-icon {
		@apply icon border hover:border-2; 
		border-color: #197aca;
	}
	.change-icon {
		@apply icon hover:bg-gray-600/10;
	}
	.pay-icon {
		@apply icon hover:bg-gray-600/10;
	}
	.add-icon {
		@apply icon;
		background-color: #197aca;
	}
	.add-icon:hover {
		@apply shadow-md shadow-gray-300; 
		background-color: #156fb9;
	}
	.arrow-icon {
		@apply icon hover:bg-white/10;
	}
}
