@tailwind components;

@layer components {
	.board-container {
		@apply absolute flex flex-col;
		top: 65px;
		bottom: 0px;
		right: 0px;
		transition-property: left;
		transition-duration: 0.2s;
	}
	.short-board-container {
		@apply board-container;
		left: 250px;
	}
	.long-board-container {
		@apply board-container;
		left: 65px;
	}

	.board {
		@apply container mx-auto my-auto;
		height: 95%;
		width: 95%;
		position: relative;
		overflow-y: scroll;
		scroll-behavior: smooth;
	}

	.tickets-list {
		@apply mx-auto px-5 py-5;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;
		width: 100%;
	}
	.tickets-item {
		@apply flex flex-col bg-white p-4 rounded-lg;
		box-shadow: 0 0 20px #d1d5db;
	}
	.tickets-item:hover {
		box-shadow: 0 0 20px #9ca3af;
	}

	.tickets-info {
		@apply flex flex-col text-xl text-gray-600;
	}
}
