@tailwind components;

@layer components {
	.page-container {
		@apply absolute m-5;
		top: 65px;
		bottom: 0px;
		right: 0px;
		transition-property: left;
		transition-duration: 0.2s;
	}
	.short-page-container {
		@apply page-container;
		left: 250px;
	}
	.long-page-container {
		@apply page-container;
		left: 65px;
	}
}
